name: Publish `claudetools` ⚒️ to PyPi
'on':
  push:
    tags:
      - v*
    branches:
      - main
jobs:
  build-an-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
      - name: Build and check package
        run: |
          python setup.py sdist bdist_wheel
          twine check dist/*
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}